body {
  margin: 0;
  padding: 0;
}

canvas {
  width: 100%;
  height: 100%;
background-color: white;
}

.hide {
  display: none;
}

.controller {
  position: absolute;
  left: 50px;
  top: 600px;
  z-index: 1;
  background: #80ccff;
  border: 1px solid #ddd;
  padding: 10px;
  width: 300px;
  height: 400px;
  font-size: 25px;
}
.controller ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.controller ul li {
  margin: 5px 0 8px;
  font-size: 30px;
}
.controller ul button {
  display: block;
  width: 100%;
  padding: 5px 15px;

}
.controller .active {
  background: #33adff;
  color: #fff;
}

#btn_run_algorithm {
  display: block;
  margin-top: 15px;
  background: #cc2900;
  color: #fff;
  padding: 10px 25px;
  font-size: 1.4rem;
}

#notification {
  position: fixed;
  background: #66b3ff;
  border-radius: 15px;
  text-align: center;
  color: #fff;
  padding: 6px 25px 5px;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
}

label {
  display: block;
  font-size: 0.9rem;
}

input[type=range] {
  width: 100%;
}